@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./base.css");


:root {
  --brand-primary: #33257f;
  --brand-primary2: hsl(279 43.8% 23.3%);
  --brand-secondary: #ffa669;
  --brand-font: "Space Grotesk";
  --linear-gradient: linear-gradient(
    90deg,
    var(--brand-primary) 0%,
    var(--brand-primary2) 100%
  );
  --radial-gradient: radial-gradient(
      100% 100% at 50% 0%,
      var(--brand-primary) 0%,
      var(--brand-primary2) 60%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(13, 14, 14);
  --border-radius: 12px;
  --red: rgb(193, 9, 9);
  --green: rgb(0, 128, 0);
  --animate-1: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
html,
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
body {
  background: var(--brand-primary);
  background: var(--radial-gradient);
  min-height: 100vh;
  max-height: 100%;
}
.heading h3 {
  font-size: 36px;
  font-weight: 500;
}

/* 
// ----------------------------------
//          class specific                                    
// ----------------------------------
*/
.cls-app {
  padding: 24px;
  margin: auto;
  /* max-width: 800px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
.cls-app h1 {
  font-size: 24px;
  margin-bottom: 4px;
}
[data-lit-theme="purple"] .cls-code {
  width: 100%;
  position: relative;
}
[data-lit-theme="purple"] .cls-js-params {
  max-width: 300px;
}
.cls-input {
  display: flex;
  gap: 9px;
  flex-direction: column;
}
.MonacoEditor {
  overflow: hidden;
  border-radius: var(--border-radius);
  background: #1e1e1e;
  padding: 12px;
  box-sizing: border-box;
  max-height: 50vh;
  height: 100%;
  min-height: 440px;
}

.cls-message {
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
}
.red.cls-message {
  border: 1px solid var(--red);
  color: var(--red);
}
.green.cls-message {
  border: 1px solid var(--green);
  color: var(--green);
}

.wrapper-message {
  visibility: hidden;
  height: 0;
  transition: var(--animate-1);
}
.active.wrapper-message {
  visibility: visible;
  /* max-height: auto; */
  min-height: 80px;
  height: 100%;
}
.wrapper-message ul {
  padding-left: 24px;
}

/* 
// --------------------------
//          Others                                    
// -------------------------- 
*/
.PopoverTrigger {
  background-color: white;
  border-radius: var(--border-radius);
}

.PopoverContent {
  border-radius: var(--border-radius);
  width: 260px;
  background-color: white;
}

.PopoverArrow {
  fill: white;
}

/* reset */
@import "@radix-ui/colors/blackA.css";
input {
  all: unset;
}

.LabelRoot {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
  user-select: none;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: white;
  background-color: var(--blackA5);
  box-shadow: 0 0 0 1px var(--blackA9);
  box-sizing: border-box;
}
.Input:focus {
  box-shadow: 0 0 0 2px black;
}

/* reset */
button {
  all: unset;
}

.SelectTrigger,
.lit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
  cursor: pointer;
  border: 1px solid transparent;
}
.lit-button:hover {
  border: 1px solid white;
}
.lit-button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
  cursor: pointer;
  text-decoration: none;
}
.SelectTrigger:hover,
.lit-button:hover {
  background-color: var(--mauve3);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet9);
}

.SelectIcon {
  color: Var(--violet11);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--violet11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet9);
  color: var(--violet1);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}

/* reset */
button {
  all: unset;
}

.ToastViewport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: flex;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}
.ToastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
  /* margin-bottom: 5px; */
  font-weight: 500;
  color: var(--slate12);
  font-size: 15px;
}

.ToastDescription {
  grid-area: description;
  margin: 0;
  color: var(--slate11);
  font-size: 13px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  font-weight: 500;
}
.Button.small {
  font-size: 12px;
  padding: 0 10px;
  line-height: 25px;
  height: 25px;
}
.Button.large {
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.Button.violet:hover {
  background-color: var(--mauve3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green2);
  color: var(--green11);
  box-shadow: inset 0 0 0 1px var(--green7);
}
.Button.red {
  background-color: var(--red2);
  color: var(--red11);
  box-shadow: inset 0 0 0 1px var(--red7);
}
.Button.green:hover {
  box-shadow: inset 0 0 0 1px var(--green8);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green8);
}
.AlertDialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve12);
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.Button.violet:hover {
  background-color: var(--mauve3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.red {
  background-color: var(--red4);
  color: var(--red11);
}
.Button.red:hover {
  background-color: var(--red5);
}
.Button.red:focus {
  box-shadow: 0 0 0 2px var(--red7);
}
.Button.mauve {
  background-color: var(--mauve4);
  color: var(--mauve11);
}
.Button.mauve:hover {
  background-color: var(--mauve5);
}
.Button.mauve:focus {
  box-shadow: 0 0 0 2px var(--mauve7);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.center {
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 36px;
}

.header-logo svg {
  width: 100%;
  height: 100%;
}
[data-lit-theme="purple"] .lit-header {
  padding: 20px 12px;
  padding-bottom: 84px;
  color: var(--lit-text-color);
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button,
p {
  all: unset;
}

.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  box-shadow: 0 2px 10px var(--blackA7);
  margin: 0;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: var(--violet11);
}
.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}
.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  background-color: var(--violet3);
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}
.lit-nav-menu {
  color: var(--lit-alert-color);
  width: 100px;
  font-size: 12px;
  padding: 12px;
  text-align: center;
}
.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  display: grid;
  padding: 22px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .List.one {
    width: 500px;
    grid-template-columns: 0.75fr 1fr;
  }
  .List.two {
    width: 600px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
  }
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
}
.ListItemLink:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}
.ListItemLink:hover {
  background-color: var(--mauve3);
}

.ListItemHeading {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--violet12);
}

.ListItemText {
  color: var(--mauve11);
  line-height: 1.4;
  font-weight: initial;
}

.Callout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--purple9) 0%, var(--indigo9) 100%);
  border-radius: 6px;
  padding: 25px;
  text-decoration: none;
  outline: none;
  user-select: none;
}
.Callout:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.CalloutHeading {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 7px;
}

.CalloutText {
  color: var(--mauve4);
  font-size: 14px;
  line-height: 1.3;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--violet10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: white;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[data-lit-theme="purple"] .lit-button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  background-color: var(--lit-background-color);
  color: var(--lit-text-color);
  box-shadow: 0 2px 10px var(--blackA7);
  cursor: pointer;
}
[data-lit-theme="purple"] .lit-button-2:hover {
  color: var(--lit-disabled-color);
}

[data-lit-theme="purple"] .lit-button-3 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  color: var(--lit-text-color);
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 4px;
}
[data-lit-theme="purple"] .justify-center {
  justify-content: center !important;
}
[data-lit-theme="purple"] .lit-button-3:hover {
  color: var(--lit-text-color);
  background: var(--lit-secondary-color);
}
[data-lit-theme="purple"] .lit-button-2lines {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 5px 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  background-color: var(--lit-background-color);
  color: var(--lit-text-color);
  box-shadow: 0 2px 10px var(--blackA7);
  cursor: pointer;
}
[data-lit-theme="purple"] .lit-button-2lines:hover {
  color: var(--lit-disabled-color);
}

[data-lit-theme="purple"] .lit-mini-menu {
  width: 240px;
  background: var(--lit-background-color);
  position: absolute;
  top: 52px;
  right: 1px;
  padding: 12px;
  border-radius: var(--border-radius);
  font-size: 13px;
  border: 1px solid var(--lit-border-color);
  min-height: 47px;
  display: none;
  box-shadow: rgb(0 0 0 / 25%) 10px 14px 22px, rgb(0 0 0 / 25%) 10px 8px 10px,
    rgb(0 0 0 / 31%) 4px 4px 8px;
  z-index: 1;
}

[data-lit-theme="purple"] .lit-mini-menu-icons button {
  background: var(--lit-button-filled-color);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--lit-border-radius-icon);
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-lit-theme="purple"] .lit-mini-menu-icons button div {
  display: flex;
}
[data-lit-theme="purple"] .lit-mini-menu-icons button:hover {
  opacity: 0.8;
}

[data-lit-theme="purple"] .lit-mini-menu-icons svg {
  width: 16px;
  height: 16px;
  fill: var(--lit-text-color);
}

[data-lit-theme="purple"] .lit-button-icon {
  position: relative;
}

[data-lit-theme="purple"] .lit-button-icon span {
  position: absolute;
  top: 33px;
  right: 0;
  display: none;
  font-size: 10px;
}
[data-lit-theme="purple"] .pkp-cards {
  padding-right: 14px;
  overflow: auto;
  max-height: 58vh;
  margin-top: 12px;
}

[data-lit-theme="purple"] .pkp-card {
  border-radius: var(--lit-border-radius);
  padding: 12px;
  margin-bottom: 12px;
  min-width: 448px;
  min-height: 120px;
  background: var(--lit-background-color);
  border: 1px solid var(--lit-border-radius-tag);
  color: white;
  font-size: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  position: relative;
  box-shadow: 0px 0px 3px black;
}
[data-lit-theme="purple"] .pkp-card:hover,
.active.pkp-card {
  border: 1px solid var(--lit-border-color);
  background: var(--lit-secondary-color);
  cursor: pointer;
}
[data-lit-theme="purple"] .pkp-card-icon div {
  padding-left: 6px;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-right: 18px;
}
[data-lit-theme="purple"] .pkp-card-icon svg {
  fill: var(--lit-text-color);
  width: 20px;
}
[data-lit-theme="purple"] .pkp-card-title {
  font-size: 16px;
  margin-bottom: 4px;
}
[data-lit-theme="purple"] .pkp-card-addr {
  font-size: 14px;
  color: var(--lit-disabled-color);
  margin-bottom: 2px;
}
[data-lit-theme="purple"] .pkp-card-tick {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-right: 4px;
  pointer-events: none;
  min-width: 120px;
}

[data-lit-theme="purple"] .pkp-card-tick div {
  width: 24px;
  height: 24px;
  background: var(--lit-background-color);
  fill: var(--lit-success-color);
  border-radius: var(--lit-border-radius-tag);
  padding: 4px;
}

[data-lit-theme="purple"] ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

[data-lit-theme="purple"] ::-webkit-scrollbar-thumb {
  background: var(--lit-main-color);
  border-radius: 12px;
}

[data-lit-theme="purple"] ::-webkit-scrollbar-track {
  background: var(--lit-background-color);
  border-radius: 12px;
}

[data-lit-theme="purple"] .lit-icon-wrapper {
  margin-left: 12px;
  background: var(--lit-disabled-color);
  padding: 1px;
  border-radius: var(--lit-border-radius-tag);
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-lit-theme="purple"] .lit-icon-wrapper:hover {
  background: var(--lit-main-color);
}
[data-lit-theme="purple"] .lit-icon-wrapper button {
  background: var(--lit-button-filled-color);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--lit-border-radius-icon);
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-lit-theme="purple"] .lit-icon-wrapper button div {
  display: flex;
}
[data-lit-theme="purple"] .lit-icon-wrapper button:hover {
  opacity: 0.8;
}

[data-lit-theme="purple"] .lit-icon-wrapper svg {
  width: 10px;
  height: 10px;
  fill: var(--lit-text-color);
}
[data-lit-theme="purple"] .separator-t {
  border-top: 1px solid var(--lit-secondary-color);
  margin-top: 22px;
  padding-top: 14px;
}
[data-lit-theme="purple"] .error {
  color: var(--lit-alert-color);
}
[data-lit-theme="purple"] .error-box {
  border: 1px solid var(--lit-alert-color);
  color: var(--lit-alert-color);
  padding: 4px 8px;
}
[data-lit-theme="purple"] .info-box {
  border: 1px solid var(--lit-main-color);
  color: var(--lit-main-color);
  padding: 4px 8px;
}

[data-lit-theme="purple"] .info-brand {
  border: 1px solid var(--brand-secondary);
  color: var(--brand-secondary);
  padding: 4px 8px;
}

[data-lit-theme="purple"] .bg-error {
  background: var(--lit-alert-color) !important;
}

[data-lit-theme="purple"] .lit-button-3-double-lines {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  line-height: 14px;
}
[data-lit-theme="purple"] .text-sm {
  font-size: 11px;
  line-height: 14px;
}
[data-lit-theme="purple"] .text-xs {
  font-size: 10px;
}
[data-lit-theme="purple"] .txt-grey {
  color: var(--lit-disabled-color);
}

[data-lit-theme="purple"] .lit-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-lit-theme="purple"] .lit-hero h1 {
  font-size: 35px;
  font-weight: 500;
}

[data-lit-theme="purple"] .lit-hero p {
  font-size: 21px;
  color: hsl(206 6% 63%);
  max-width: 480px;
  text-align: center;
  margin-bottom: 15px;
}
[data-lit-theme="purple"] .lit-row {
  color: var(--lit-text-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 12px 0;
}

[data-lit-theme="purple"] .lit-card {
  background-color: var(--lit-background-color);
  border-radius: var(--lit-border-radius);
  max-height: 200px;
  position: relative;
  aspect-ratio: 16/9;
  max-width: 350px;
  border: 1px solid transparent;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
[data-lit-theme="purple"] .lit-card svg {
  fill: var(--lit-main-color);
  color: var(--lit-main-color);
  width: 64px;
}
[data-lit-theme="purple"] .lit-card:hover {
  border: 1px solid var(--lit-main-color);
  background: var(--lit-secondary-color);
}

[data-lit-theme="purple"] .lit-card p {
  font-size: 12px;
  line-height: 14px;
  color: var(--lit-disabled-color);
  margin-top: 10px;
}
[data-lit-theme="purple"] .lit-card svg {
  width: 30px;
  height: 30px;
}
[data-lit-theme="purple"] .lit-button-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
  cursor: pointer;
  border: 1px solid transparent;
}
[data-lit-theme="purple"] .lit-button-4:hover {
  border: 1px solid var(--lit-border-color);
  background-color: transparent;
  color: var(--lit-text-color);
}
[data-lit-theme="purple"] .lit-button-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  background-color: var(--lit-main-color);
  color: var(--lit-background-color);
  box-shadow: 0 2px 10px var(--blackA7);
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: bold;
}
[data-lit-theme="purple"] .lit-button-5:hover {
  border: 1px solid var(--lit-border-color);
  background-color: transparent;
  color: var(--lit-text-color);
}
.animate {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.disabled {
  opacity: 0.3;
  pointer-events: none;
}

[data-lit-theme="purple"] .lit-icon {
  width: 20px;
  height: 20px;
}

[data-lit-theme="purple"] .lit-icon svg {
  width: 100%;
  height: 100%;
}
[data-lit-theme="purple"] .lit-button-6 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--lit-border-radius);
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  min-width: calc(12px * 11);
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 4px;

  color: var(--lit-disabled-color);
  border: 1px solid var(--lit-disabled-color);
}

[data-lit-theme="purple"] .lit-button-6:hover {
  color: var(--lit-main-color);
  border: 1px solid var(--lit-main-color);
}

[data-lit-theme="purple"] .lit-note {
  background: var(--lit-secondary-color);
  color: var(--lit-text-color);
  padding: 10px;
  border-radius: var(--lit-border-radius);
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
[data-lit-theme="purple"] .lit-note h2 {
  margin-bottom: 5px;
}
[data-lit-theme="purple"] .lit-mini-button {
  font-size: 13px;
  padding: 10px 15px;
  color: var(--lit-disabled-color);
  background: var(--lit-background-color);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: var(--lit-border-radius);
  position: relative;
  overflow: hidden;
  text-align: center;
}
[data-lit-theme="purple"] .lit-mini-button:hover,
.active.lit-mini-button {
  border: 1px solid var(--lit-border-color);
  color: var(--lit-border-color);
}
[data-lit-theme="purple"] .lit-mini-button:hover::after,
.active.lit-mini-button::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: var(--lit-main-color);
  /* rotate 45 degrees */
  transform: rotate(45deg);
}

[data-lit-theme="purple"] .lit-input-v1 {
  position: relative;
}
[data-lit-theme="purple"] .lit-input-v1 input {
  background: var(--lit-background-color);
  font-size: 13px;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: var(--lit-border-radius);
  color: var(--lit-text-color);
  padding-right: 150px;
}
[data-lit-theme="purple"] .lit-input-v1 label {
  position: absolute;
  color: var(--lit-disabled-color);
  font-size: 10px;
  /* uppercase */
  text-transform: uppercase;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
[data-lit-theme="purple"] .lit-block-number {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 4px;
  font-size: 12px;
  color: var(--lit-disabled-color);
  position: absolute;
  top: -20px;
  right: 0;
}

[data-lit-theme="purple"] .lit-link {
  font-size: 16px;
  text-decoration: none;
  color: var(--lit-text-color);
  opacity: 0.6;
  font-weight: 600;

  padding: 5px 15px;
  border-radius: var(--lit-border-radius-tag);
}
[data-lit-theme="purple"] .lit-link:hover {
  color: var(--lit-text-color);
  opacity: 1;
  background: var(--lit-border-color);
}

[data-lit-theme="purple"] .active.lit-link {
  opacity: 1;
}

[data-lit-theme="purple"] .lit-code-editor {
  width: 100%;
  position: relative;
}

[data-lit-theme="purple"] .lit-code-editor section {
  overflow: hidden;
  border-radius: var(--border-radius);
  background: #1e1e1e;
  padding: 12px;
  box-sizing: border-box;
  max-height: 50vh;
  height: 100%;
  min-height: 440px;
}

[data-lit-theme="purple"] .lit-code-editor h1 {
  font-size: 24px;
  margin-bottom: 4px;
}

[data-lit-theme="purple"] .lit-editor-v1 {
  overflow: hidden;
  border-radius: var(--border-radius);
  background: #1e1e1e;
  padding: 12px;
  box-sizing: border-box;
  max-height: 50vh;
  height: 100%;
  min-height: 440px;
}

[data-lit-theme="purple"] ul.lit-nav-middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

[data-lit-theme="purple"] .lit-header .lit-button-2,
.lit-header .lit-button-2lines {
  max-width: 120px;
  margin-left: auto;
}

[data-lit-theme="purple"] .div-with-title {
  width: 100%;
  position: relative;
  /* overflow: hidden;
  border-radius: var(--border-radius);
  background: #1e1e1e;
  padding: 12px;
  box-sizing: border-box;
  max-height: 50vh;
  height: 100%;
  min-height: 440px; */
}
[data-lit-theme="purple"] .div-with-title h1 {
  font-size: 24px;
  margin-bottom: 4px;
}

.highlighted-line {
  background-color: rgba(
    255,
    255,
    0,
    0.2
  ); /* Set your desired background color here */
}

[data-lit-theme="purple"] a {
  color: var(--brand-secondary);
}

