/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/* Custom styling */

:root {
  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-900: #171923;
  --primary-light: #e9f2ff;
  --primary: #0c66e4;
  --primary-dark: #09326c;
  --error-light: #ffedeb;
  --error: #ef5c48;
  --error-dark: #ae2a19;
  --success-light: #dffcf0;
  --success: #4bce97;
  --success-dark: #216e4e;
}

body {
  background-color: var(--gray-50);
  color: var(--gray-900);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 32rem;
  max-height: calc(100vh - 2rem);
  background-color: white;
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
  padding: 1.5rem;
  overflow-y: auto;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.btn {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--gray-100);
}

.btn__icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.btn__label {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:focus-visible {
  outline-color: var(--gray-100);
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}

.btn:disabled {
  opacity: 0.6;
}

.btn--primary {
  background-color: var(--primary);
  color: white;
}

.btn--primary:hover {
  background-color: var(--primary-dark);
}

.btn--loading::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid var(--gray-300);
  border-top-color: var(--gray-600);
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}

.btn--outline {
  flex-grow: 1;
}

.btn--outline img {
  object-fit: contain;
}

.btn-social {
  background-color: var(--gray-50);
}

.btn--link {
  border: none;
  color: var(--primary);
}

.btn--link:hover {
  background-color: transparent;
  color: var(--primary-dark);
}

.btn--success {
  background-color: var(--success-light);
  color: var(--success-dark);
  border-color: var(--success);
}

.btn--error {
  background-color: var(--error-light);
  color: var(--error-dark);
  border-color: var(--error);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.social-container {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .btn__label {
    display: block;
  }
}

.form-wrapper {
  margin: 1.5rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.875rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.375rem;
  outline: none;
}

.form__input:focus-visible {
  outline-color: var(--gray-100);
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.alert {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.alert p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.alert--error {
  background-color: var(--error-light);
  color: var(--error-dark);
  border: 1px dashed var(--error);
}

.details-card {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  margin-top: 1.5rem;
}

.details-card p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.divider {
  border-top: 1px solid var(--gray-200);
  margin: 1.5rem 0;
}

.message-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.message-card__prompt {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px dashed var(--gray-200);
  margin: 0.5rem 0;
}

p.message-card__prompt {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.loader {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.loader::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid var(--gray-100);
  border-top-color: var(--gray-400);
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.accounts-wrapper {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.account-item {
  font-size: 0.875rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  word-break: break-all;
}

.account-item__radio {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--gray-500);
  border-radius: 100%;
  background-color: var(--gray-50);
}

.account-item__indicator {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.account-item__indicator::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: var(--primary);
}

.account-item--selected .account-item__label {
  color: var(--primary-dark);
}

.account-item--selected .account-item__radio {
  background-color: var(--primary-light);
  border-color: var(--primary);
}
