/* eslint-disable */
export default {
  displayName: 'REPLACE_ME',
  preset: '../../jest.preset.js',
  globals: {
    'ts-jest': {
      tsconfig: '<rootDir>/tsconfig.spec.json',
    },
  },
  transform: {
    '^.+\\.[t]s$': 'ts-jest',
  },
  moduleFileExtensions: ['ts', 'js', 'html'],
  coverageDirectory: '../../coverage/packages/REPLACE_ME',
  setupFilesAfterEnv: ['../../jest.setup.js']
};
