.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #33257F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    /* zoom  */
    transform: scale(1);
    /* transform: rotate(0deg); */
  }
  to {
    transform: scale(2)
  }
}
