config:
  target: 'dummy'
  phases:
    # Over 60s, ramp up to creating 100 vusers per second
    - duration: 60
      arrivalRate: 5
      rampTo: 100
      name: 'Ramp Up'
    # Over 300s, create 100 vusers per second
    - duration: 300
      arrivalRate: 100
      name: 'Sustained Execute JS'
    # Over 60s, ramp down to creating 20 vusers per second
    - duration: 60
      arrivalRate: 20
      name: 'Ramp Down'
  processor: '../src/processors/multi-endpoints.ts'

scenarios:
  - name: 'Execute JS Stress Test - Sign'
    weight: 100
    variables:
      # Access in the script via context.scenario.variables.variant
      variant: 'sign'
    flow:
      - function: 'runExecuteJSTest'
      - think: 0.1
  - name: 'Execute JS Stress Test - Broadcast and Collect'
    weight: 0
    variables:
      variant: 'broadcastAndCollect'
    flow:
      - function: 'runExecuteJSTest'
      - think: 0.1
  - name: 'Execute JS Stress Test - Check Conditions with Auth Sig'
    weight: 0
    variables:
      variant: 'checkConditionsWithoutAuthSig'
    flow:
      - function: 'runExecuteJSTest'
      - think: 0.1
  - name: 'Execute JS Stress Test - Sign Child Lit Action'
    weight: 0
    variables:
      variant: 'signChildLitAction'
    flow:
      - function: 'runExecuteJSTest'
      - think: 0.1
  - name: 'Execute JS Stress Test - Decrypt to Single Node without Auth Sig'
    weight: 0
    variables:
      variant: 'decryptToSingleNode'
    flow:
      - function: 'runExecuteJSTest'
      - think: 0.1
  - name: 'Execute JS Stress Test - Run Once'
    weight: 0
    variables:
      variant: 'runOnce'
    flow:
      - function: 'runExecuteJSTest'
      - think: 0.1
