name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  master:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Install project dependencies
        run: yarn install
      - uses: nrwl/nx-set-shas@v3
        with:
          main-branch-name: 'master'
      - name: Run tests
        run: npx nx affected --target=test --parallel=3 -- --runInBand
